{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://7xskcc.com2.z0.glb.clouddn.com/profile.css">
    <title>{% trans "Profile" %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="nav">
    {% trans "Personal Profile" %}
</div>
<header class="header">
    <div class="profile-box">
        <img class="profile-pic" src="http://i1.piimg.com/0ee6f202435c9203.jpg">
    </div>
    <div class="profile-name">
        {{ personalprofile.first_name }} {{ personalprofile.last_name }}
    </div>
    <div class="profile-occupation">
        {{ personalprofile.occupation }}
    </div>
    <div class="profile-city">
        {{ personalprofile.city }}
    </div>
        {% if displaySetting == 'true' %}
    <div class="profile-setting">
        <a href="/appuser/profile-settings">{% trans "Settings" %}</a>
    </div>
        {% endif %}
</header>
<div class="title-box">
    <span class="dotted"></span>
    <div class="title">{% trans "Execution" %}s</div>
</div>
<div class="box">
    <div class="execution-box">
        <div class="row">
            <div class="col-xs-6 execution-left">
                <p class="execution-big">{% trans "Group" %}</p>
                <p class="execution-small">{{ personalprofile.team_name }}</p>
            </div>
            <div class="col-xs-6 execution-right">
                <p class="execution-big">{% trans "Task" %}</p>
                <p class="execution-small">{% trans "Total" %}:{{ personalprofile.num_total_tasks }}<em style="padding: 0px 10px;">|</em>{% trans "Doing" %}:0</p>
            </div>
        </div>
    </div>
</div>
<div class="title-box">
    <span class="dotted"></span>
    <div class="title">{% trans "Self Introduction" %}</div>
</div>
<div class="box">
    <div class="content">
        {{ personalprofile.self_introduction }}
    </div>
</div>
<div class="title-box">
    <span class="dotted"></span>
    <div class="title">{% trans "Education History" %}</div>
</div>
{% for edu in personaleducation.0 %}
<div class="box">
    <div class="list-box">
        <div class="list">
            <span>{% trans "Graduate School" %}:</span>
            <span class="word-right">{{ edu.college_name }}</span>
        </div>
        <div class="list">
            <span>{% trans "Major" %}:</span>
            <span class="word-right">{{ edu.major }}</span>
        </div>
    </div>
</div>
{% endfor %}
<div class="title-box">
    <span class="dotted"></span>
    <div class="title">{% trans "Work Experience" %}</div>
</div>
{% for employment in personalemployment.0 %}
<div class="box">
    <div class="list-box">
        <div class="list">
            <span>{% trans "Company" %}:</span>
            <span class="word-right">{{ employment.employer_name }}</span>
        </div>
    </div>
</div>
{% endfor %}
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="zhixingli">
        <a href="{% url 'index' %}">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            <span class="bottom-text">{% trans "Execute" %}</span>
        </a>
    </div>
    <div class="my">
        <a href="#">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="bottom-text">{% trans "Profile" %}</span>
        </a>
    </div>
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
