<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>陆向谦创新创业课</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--CSS style-->
    <link href="http://7xskcc.com2.z0.glb.clouddn.com/task.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <div class="alert alert-danger" role="alert">
        DIR项目成员提醒您：您的浏览器太古董了，创业和浏览器一样都需要革新，请紧跟时代潮流<a
            href="http://browsehappy.com/" target="_blank">速速点击更换最新浏览器</a>！
    </div>
    <div class="alert alert-danger" role="alert">
        Attention:
        <p>Your bowser is too old to use!</p>
        <a
                href="http://browsehappy.com/" target="_blank">Click here to change!</a>！
    </div>
    <![endif]-->
    <script src="http://7xskcc.com1.z0.glb.clouddn.com/task.js"></script>
</head>
<body>
<div class="task-nav dropdown">
        <a href="#" class="dropdown-toggle task-nav-title" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">全部任务 <span class="caret"></span></a>
        <ul id="category-list" class="dropdown-menu">

        </ul>
</div>
{% for task in tasksjson.0 %}
<div class="task-list-box">
    <div class="task-list-title-box" data-category="{{ task.team_name }}">
        <span class="badge task-list-group">{{ task.team_name }}</span>
        <a href="task/{{ task.task_id }}" class="alltask-link"><span class="task-list-title">{{ task.task_name }}</span></a>
    </div>
    <a href="task/{{ task.task_id }}" class="alltask-link">
    <div class="task-list-content">
        {{ task.task_description }}
    </div>
    </a>
    <div class="task-list-footer">
        <span class="task-list-director"><span class="glyphicon glyphicon-user mar-3" aria-hidden="true"></span>负责人：{{ task.task_leader }}</span>
        <span class="task-list-date"><span class="glyphicon glyphicon-calendar mar-3" aria-hidden="true">{{ task.creation_date }}</span>
    </div>
</div>
{% endfor %}
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="zhixingli">
        <a href="#">
        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
        <span class="bottom-text">执行力</span>
        </a>
    </div>
    <div class="my">
        <a href="#">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="bottom-text">我的</span>
        </a>
    </div>
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://7xskcc.com2.z0.glb.clouddn.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://7xskcc.com2.z0.glb.clouddn.com/bootstrap.js"></script>
</body>
</html>