<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>陆向谦创新创业课</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--CSS style-->
    <link href="http://7xskcc.com2.z0.glb.clouddn.com/task.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <div class="alert alert-danger" role="alert">
        DIR项目成员提醒您：您的浏览器太古董了，创业和浏览器一样都需要革新，请紧跟时代潮流<a
            href="http://browsehappy.com/" target="_blank">速速点击更换最新浏览器</a>！
    </div>
    <div class="alert alert-danger" role="alert">
        Attention:
        <p>Your bowser is too old to use!</p>
        <a
            href="http://browsehappy.com/" target="_blank">Click here to change!</a>！
    </div>
    <![endif]-->
</head>
<body>
<div class="task-nav">
    任务详情
</div>
<header>
<p class="task-title"><span class="glyphicon glyphicon-th-list title-icon" aria-hidden="true"></span>{{ taskdetail.task_name }}</p>
    <div class="sub-title">
        <p class="group">{{ taskdetail.team_name }}<span class="pub-time">发布于{{ taskdetail.creation_date }}</span></p>
    </div>
</header>
<div class="director">
    负责人：{{ taskdetail.task_leader }}
    <span class="glyphicon glyphicon-chevron-right director-icon" aria-hidden="true"></span>
</div>
<div class="title-box">
    <div class="title">
        任务描述
    </div>
</div>
<div class="content">
    {{ taskdetail.task_description }}
</div>
<div class="title-box">
    <div class="title">
        截止日期
    </div>
</div>
<div class="content">
    {{ taskdetail.signup_due_date }}
</div>
<div class="title-box">
    <div class="title">
        参与者
    </div>
</div>
<div class="content participants">
    <div class="container participants-row">
        <div class="row">
            {% for list in taskdetail.members %}
            <div class="col-xs-4"><span class="glyphicon glyphicon-user mar-3" aria-hidden="true"></span>{{ list }}</div>
            {% endfor %}
        </div>
    </div>
    
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
<a href="#">我想参与</a>
</nav>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://7xskcc.com2.z0.glb.clouddn.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://7xskcc.com2.z0.glb.clouddn.com/bootstrap.js"></script>
</body>
</html>