{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'appuser/style.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body >


    <div class="header">
        <div class="panel panel-default"style="border:none;margin:0px;">
            <div class="panel-heading" style="text-align:center;background-color:#0e90d2;border:none;border-radius: 0 !important;"> <span style="color:white;font-size:1.7em;"><b>{% trans "Team Detail" %}</b></span></div>
            <div class="panel-body" style="padding: 0px;">
            <div class="media" style="padding:2%; background-color:#594f59;border:none;">
                <div class="media-left">
                    <div style=" height: 50px;
    width: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;text-align:center;vertical-align:middle;font-size:100%;background-color:#738ffe;line-height: 50px;color:white;font-weight:bolder;">{{teamjson.0.team_name.0}}</div>
                </div>

                <div class="media-body">

                    <h4 class="media-heading"><b><span style="color:white">{{teamjson.0.team_name}}</span></b></h4>
                    <p><span style="color:white">
                    {% blocktrans count member_count=teamjson.0.num_team_members %}{{ member_count }} member{% plural %}{{ member_count }} members{% endblocktrans %} | 
                    {% blocktrans count new_task_count=teamjson.0.num_new_tasks %}{{ new_task_count }} new task{% plural %}{{ new_task_count }} new tasks{% endblocktrans %} | 
                    {% blocktrans count task_count=teamjson.0.num_total_tasks %}{{ task_count }} total task{% plural %}{{ task_count }} total tasks{% endblocktrans %}
                    </span></p>
                    <!--
                    <p><span style="color:white">{{teamjson.0.num_team_members}} member(s) | {{teamjson.0.num_new_tasks}} new task(s) | {{teamjson.0.num_total_tasks}} total task(s)</span></p>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="panel panel-default"style="border:none;margin:0px;">
        <div class="panel-body">
            <a href="/appuser/profile/{{ teamjson.0.leadid}}/">
       {% trans "Leader" %}: {{teamjson.0.team_leader}}
       </a>
        </div>
    </div>
    <div class="panel panel-default"style="margin:0px;border-radius: 0 !important;border:none;">
        <div class="panel-heading" style="background-color:#f2f0f2;"><b><span class="glyphicon glyphicon-info-sign" style="color:black;font-weight:"></span> {% trans "Description" %}</b></div>
        <div class="panel-body">{{teamjson.0.team_description}}</div>
    </div>


    <div class="panel panel-default"style="margin:0px;border-radius: 0 !important;border:none;">
        <div class="panel-heading" style="background-color:#f2f0f2;"><b><span class="glyphicon glyphicon-user" style="color:black"></span> {% trans "Members" %}</b></div>
        <div class="panel-body">
            <ul>
            {%for member in teamjson.0.team_members%}
        
        <li>
            <a href="/appuser/profile/{{ member.1}}/">
            {{member.0}}
            </a>
        </li>
        
         {% endfor %}
         </ul>
        </div>
    </div>


    <div class="panel panel-default" style="margin:0px;border-radius: 0 !important;border:none;">
        <div class="panel-heading" style="background-color:#f2f0f2;"><b><span class="glyphicon glyphicon-tasks" style="color:black"></span> {% trans "Tasks" %}</b></div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="accordion-group">
                <div class="accordion-heading">
                {%for task in teamjson.0.team_tasks%}
                
                
                {% if forloop.counter == 4 %}
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                {% endif %}
                <a href="/appuser/task/{{ task.0 }}/"><li class="list-group-item"style="border-radius: 0">{{task.1}}</li></a>
                {% if forloop.last %}
                {% if forloop.counter > 4 %}
                </div>
                </div>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
<li style="text-align:center; padding:2%;  list-style-type: none;"><span class="glyphicon glyphicon-menu-down"></span></li>
</a>
                {% endif %}
                 </div>
                {% endif %}
               
                
                {% endfor %}
             
                
                
            </ul>
        </div>
    </div>


    <footer class="footer">
        <button style="width: 100%; height:100%;font-size:1.5em;font-weight: bold;" type="button" class="btn btn-info">{% trans "Join This Team" %}</button>
    </footer>

</body>

</html>
